.content_name {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    width: 120px;
    height: 18px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-left: 1px solid #d8e0b8;
    border-bottom: 1px solid #d8e0b8;
    border-radius: 0 0 0 10px;
    color: #c4cf9c;
    margin: 0;
    line-height: 17px;
}
.users_div{
    display: flex;
flex-flow: row;
    width: 100%;
    height: 100%;
    position: relative;
}
.users_list{
    width: 603px;
    height: 100%;
    padding-top: 40px;
    position: relative;
    border-right: 3px solid #e9f5c9;
}
.small_users_list{
    width: 603px;
    height: 720px;
    overflow-y: scroll;
}
.sub_small_users_list{
    width: 600px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: -20px;
    position: relative;
}


.users_filtr{
    width: 197px;
    height: 100%;
    position: relative;
    background: #fff;


}
.user_div{
    width: 580px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #d8e4d4;
    border-right: none;
    background: #fff;
    position: relative;
    border-radius: 10px 0 0 10px;
}
/*.user_div:last-child{
   margin-bottom: 0;
}*/
.user_ava_div{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 15px;
}
.user_ava{
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 50px;
    background: #eee;
}
.user_ava img{
    width: 100%;
    height: auto;
}
.user_name{
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    top: 12px;
    left: 120px;
    margin: 0;
    line-height: 15px;
}
.user_city{
    position: absolute;
    font-size: 13px;

    top: 35px;
    left: 120px;
    margin: 0;
    line-height: 15px;
}
.user_fr{
    position: absolute;
    font-size: 13px;
    top: 9px;
   right: 10px;
    margin: 0;
    line-height: 22px;
    border-radius: 15px;
    text-align: center;
    height: 24px;
    width: 120px;
    border: 1px solid #87b27e;
    color: #87b27e;
    background: #fff;
}
.user_fr_foll{
    position: absolute;
    font-size: 13px;
    top: 9px;
    right: 10px;
    margin: 0;
    line-height: 24px;
    border-radius: 15px;
    text-align: center;
    height: 24px;
    width: 120px;
    border: none;
    color: #fff;
    background: #7ca56e;
}
.pages_btn_div{
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom:1px solid #e9f5c9 ;
    border-top: 2px solid #e9f5c9;
   display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.page_btn{
    width: 35px;
    height: 35px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #ffb18e;
    text-align: center;
    background: #fff;
    line-height: 31px;
    border-radius: 7px;
    color: #888;
    cursor: pointer;
}
.page_btn:hover{

    box-shadow: 0 0 4px #ffb18e;
}
.selected_page{
    width: 35px;
    height: 35px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #ffb18e;
    text-align: center;
    background: #ffb18e;
    line-height: 31px;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
.user_fr_status:hover{
    box-shadow: 0 0 3px 2px #dcee97;
    color: #e59877;
}

.small_users_list::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    background-color: #e9f5c9;
}

/* �������� ���������� */
.small_users_list::-webkit-scrollbar-thumb {
    background-color: #e9f5c9;
    /*

    box-shadow: inset 1px 1px 10px #f3faf7;
 */
}

.small_users_list:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2)
}

.small_users_list::-webkit-scrollbar-thumb:active {
    background-color:   rgba(0,0,0,0.2);
}