.desc_div {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    border-radius: 0 0 0 10px;
    background: #fff;

    margin-bottom: 10px;
    border: 1px solid #d8e4d4;
    border-right: none;
    border-top: none;
    min-height: 100px;
    width: 550px;
    position: relative;
}
    .desc_p_div {
        display: flex;
        flex-flow: row;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 10px;
    }




.p_1 {
    width: 180px;
    font-size: 13px;
    color: #93997d;
    margin-right: 40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.p_2 {
    width: 290px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    color: #67825e;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.name {
    font-size: 17px;
    margin-left: 13px;
    padding-bottom: 15px;
    width: 505px;
    border-bottom: 1px solid #e0e3d5;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 2px;
    color: #67825e;
    font-weight:700;
}
