.header {
    grid-area: h;
    /*background: #ef8f64;*/
    background: #f58f64;
    border-bottom: 3px solid #ffb18e;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    align-items:center;
    justify-content:flex-start;
    position: relative;
}

.logo_img {
    width: 23px;
    height: 23px;
    position: relative;
    margin-top: 6px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 15px;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 1);
}
.logo_img img{
    width: 100%;
    height:auto;
   
}
.log_p {
    margin-left: 75px;
    font-size: 30px;
    color: #fcfff0;
    font-weight: 700;
    text-shadow: -0 -1px 0 #67825E,
        0 -1px 0 #67825E,
        -0 1px 0 #67825E,
        0 1px 0 #67825E,
        -1px -0 0 #67825E,
        1px -0 0 #67825E,
        -1px 0 0 #67825E,
        1px 0 0 #67825E,
        -1px -1px 0 #67825E, 
        1px -1px 0 #67825E,
        -1px 1px 0 #67825E,
        1px 1px 0 #67825E,
        -1px -1px 0 #67825E,
        1px -1px 0 #67825E,
        -1px 1px 0 #67825E,
        1px 1px 0 #67825E;

}
.loginblock{
position: absolute;
    right: 3px;
    height: 100%;
    min-width: 120px;
    background-color: #ffb18e;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;

}
.name_exit_img_div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
}
.login_link{
    height: 30px;

    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.exit_img{
    height: 30px;
    width: 25px;

    line-height: 20px;
    padding-right: 5px;
    padding-top: 9px;
    padding-left: 5px;
    margin-right: 5px;
    background: inherit;
    border: none;
}
.exit_img:hover{
    background: #ff6f34;
}
.exit_img img{
    height: 15px;
    width: 15px;
}